{
  "extends": "eslint:recommended",
  "root": true,
  "plugins": [
    "filenames"
  ],
  "ignorePatterns": [],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "node": true
  },
  "globals": {},
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "block-like"
      },
      {
        "blankLine": "always",
        "prev": "block-like",
        "next": "*"
      }
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "require-atomic-updates": "off",
    "filenames/match-regex": [
      2,
      "^[a-z\\-\\.]+$",
      true
    ],
    "no-mixed-operators": ["error", {
      "groups": [
        ["&&", "?:"]
      ]
    }],
    "operator-linebreak": ["error", "before"],
    "quote-props": [
      "warn",
      "as-needed"
    ],
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "func-style": [
      "warn",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "require-await": "warn",
    "no-var": "warn",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "max-len": [
      "warn",
      120
    ],
    "no-unexpected-multiline": "error",
    "semi": [
      "warn",
      "never"
    ],
    "eqeqeq": [
      "warn",
      "smart"
    ],
    "quotes": [
      "warn",
      "single",
      "avoid-escape"
    ],
    "arrow-spacing": [
      "warn",
      {
        "before": true,
        "after": true
      }
    ],
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "prefer-const": [
      "warn",
      {
        "destructuring": "all"
      }
    ],
    "no-throw-literal": "warn",
    "no-unused-expressions": [
      "warn",
      {
        "allowShortCircuit": true
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "no-sequences": "error",
    "valid-jsdoc": [
      2,
      {
        "requireReturn": false,
        "requireParamDescription": false,
        "requireReturnDescription": false,
        "prefer": {
          "arg": "param",
          "argument": "param",
          "return": "returns"
        },
        "preferType": {
          "string": "String",
          "number": "Number",
          "function": "Function"
        }
      }
    ]
  }
}
